{% extends "base/base.html" %}

<!-- contenido -->

{% block content %}

<div class="row">
  <div class="container">
    <div class="card card-add-product">
      <div class="card-title">Agregar nuevo producto</div>
      <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <!-- validacion producto -->
        <button
          class="btn blue darken-3"
          onclick="M.toast({html: 'Nuevo producto creado satisfactoriamente!'})"
        >
          Agregar
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
