{% extends "base/base.html" %}

<!-- contenido -->

{% block content %}

<div class="card card-login-register">
  <div class="card-title">Registrar nuevo usuario</div>
  <form method="POST">
    {% csrf_token %}
    <div class="input-field col s6">
      <label for="first_name">Nombre real</label>
      <input name="first_name" type="text" class="validate" />
    </div>
    <div class="input-field col s6">
      <label for="last_name">Apellidos</label>
      <input name="last_name" type="text" class="validate" />
    </div>
    <div class="input-field col s6">
      <label for="username">Nombre de usuario</label>
      <input name="username" type="text" class="validate" />
    </div>
    <div class="input-field col s6">
      <label for="email">Correo electrónico</label>
      <input name="email" type="text" class="validate" />
    </div>
    <div class="input-field col s6">
      <label for="password1">Contraseña</label>
      <input name="password1" type="password" class="validate" />
    </div>
    <div class="input-field col s6">
      <label for="password2">Confirmar contraseña</label>
      <input name="password2" type="password" class="validate" />
    </div>

    <button class="btn blue darken-3" type="submit">Guardar</button>
  </form>
</div>

{% endblock content %}
