{% extends "base/base.html" %}

<!-- contenido -->

{% block content %}

<div class="container-carousel">
  <div class="carousel carousel-slider center">
    <div class="carousel-item white-text" href="#one!">
      <h2 class="title-img-carousel">Bienvenido a nuestra tienda virtual</h2>
      <img class="img-carousel" src="/static/img/perros1.jpg" alt="" />
    </div>
    <div class="carousel-item white-text" href="#two!">
      <h2 class="title-img-carousel">
        Todo lo que necesitas para tus mascotas
      </h2>
      <img class="img-carousel" src="/static/img/gatos1.jpg" alt="" />
    </div>
    <div class="carousel-item white-text" href="#three!">
      <h2 class="title-img-carousel">Alimentación saludable para ellos</h2>
      <img class="img-carousel" src="/static/img/perros2.png" alt="" />
    </div>
    <div class="carousel-item white-text" href="#four!">
      <h2 class="title-img-carousel">Todo tipo de recreación</h2>
      <img class="img-carousel" src="/static/img/gatos2.jpg" alt="" />
    </div>
  </div>
</div>

<div class="infoHome">
  <h3>Nuestra sucursal está en providencia!</h3>
  <p>
    Desde el Lunes 28 de Septiembre estarémos en Los Leones #220. Nos cambiamos
    de casa, a unos pasos de la actual tienda Pio X ¡Todos son bienvenidos!
  </p>
</div>

<div class="row">
  <div class="container-cards-home">
    <div class="card cards-home1">
      <div class="card-title title-card-home">
        <nav class="light-blue darken-4">Espacio Gatuno</nav>
      </div>
      <img class="img-cards-home" src="/static/img/gatosHome1.png" alt="" />
      <div class="card-content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
          nulla unde vitae similique ex hic, quidem quas saepe dolores enim
          nesciunt assumenda, accusamus ipsam ratione nobis amet, cumque porro.
          Est.
        </p>
      </div>
    </div>

    <div class="card cards-home1">
      <div class="card-title title-card-home">
        <nav class="light-blue darken-4">Alimentación de calidad</nav>
      </div>
      <img class="img-cards-home" src="/static/img/alimentos1.png" alt="" />
      <div class="card-content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
          nulla unde vitae similique ex hic, quidem quas saepe dolores enim
          nesciunt assumenda, accusamus ipsam ratione nobis amet, cumque porro.
          Est.
        </p>
      </div>
    </div>

    <div class="card cards-home1">
      <div class="card-title title-card-home">
        <nav class="light-blue darken-4">Espacio perruno</nav>
      </div>
      <img class="img-cards-home" src="/static/img/perrosHome1.png" alt="" />
      <div class="card-content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
          nulla unde vitae similique ex hic, quidem quas saepe dolores enim
          nesciunt assumenda, accusamus ipsam ratione nobis amet, cumque porro.
          Est.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
