{% extends "base/base.html" %} {% block content %}

<div class="row">
  <div class="container">
    <h4 class="title-history">Medios de pago registrados:</h4>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <span class="title-font-black-method-pay">Nombre tarjeta</span>
          </p>
          <hr />
          <p class="text-small-method-pay">Tarjeta Banco Estado</p>
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <span class="title-font-black-method-pay">Tipo de tarjeta:</span>
          </p>
          <hr />
          <p class="text-small-method-pay">Débito</p>
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <span class="title-font-black-method-pay">Nro. tarjeta: </span>
          </p>
          <hr />
          <p class="text-small-method-pay">*******3457</p>
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <span class="title-font-black-method-pay">Validación: </span>
          </p>
          <hr />
          <p class="text-small-method-pay">Método de pago validado.</p>
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <span class="title-font-black-method-pay">Predeterminado: </span>
          </p>
          <hr />
          <p class="text-small-method-pay">Método de pago predeterminado.</p>
        </div>
        <div class="card-action">
          <a class="btn-small blue darken-3 btn-edit-method-pay">Modificar</a>
        </div>
      </div>
    </div>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <span class="title-font-black-method-pay">Nombre tarjeta</span>
          </p>
          <hr />
          <p class="text-small-method-pay">Tarjeta Banco BCI</p>
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <span class="title-font-black-method-pay">Tipo de tarjeta:</span>
          </p>
          <hr />
          <p class="text-small-method-pay">Crédito</p>
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <span class="title-font-black-method-pay">Nro. tarjeta: </span>
          </p>
          <hr />
          <p class="text-small-method-pay">*******5006</p>
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <span class="title-font-black-method-pay">Validación: </span>
          </p>
          <hr />
          <p class="text-small-method-pay">Método de pago no validado.</p>
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <span class="title-font-black-method-pay">Predeterminado: </span>
          </p>
          <hr />
          <p class="text-small-method-pay">Método de pago no predeterminado.</p>
        </div>
        <div class="card-action">
          <a class="btn-small blue darken-3 btn-edit-method-pay">Modificar</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
