{% extends "base/base.html" %} {% block content %}

<div class="row">
  <div class="container">
    <h4 class="title-history">Historial de compras del usuario</h4>
    <div class="card horizontal">
      <div class="card-image">
        <img class="img-history" src="/static/img/rascador_gatos.png" />
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <span class="title-font-black">Descripción:</span>
          </p>
          <hr />
          <p class="text-small">
            Rascador de 35cm X 35cm X 45 cm con superficie forrada en felpa y
            poste recubierto en sisal natural.
          </p>
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <span class="title-font-black">Precio total:</span>
          </p>
          <hr />
          <p>$ 22.990 CLP</p>
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <span class="title-font-black">Tipo de pago:</span>
          </p>
          <hr />
          <p>VISA *******3457</p>
          <p class="margin-top-reveived">Recibido</p>
        </div>
      </div>
    </div>

    <div class="card horizontal">
      <div class="card-image">
        <img class="img-history" src="/static/img/rascador_peluche.png" />
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <span class="title-font-black">Descripción:</span>
          </p>
          <hr />
          <p class="text-small">
            Rascador para gato, realizado en una base de madera forrada con
            peluche, con un poste forrado en hilo sisal del cual cuelga un
            pompón.
          </p>
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <span class="title-font-black">Precio total:</span>
          </p>
          <hr />
          <p>$ 14.990 CLP</p>
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <span class="title-font-black">Tipo de pago:</span>
          </p>
          <hr />
          <p>VISA *******3457</p>
          <p class="margin-top-reveived">Recibido</p>
        </div>
      </div>
    </div>

    <div class="card horizontal">
      <div class="card-image">
        <img class="img-history" src="/static/img/herradura_caballo.png" />
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <span class="title-font-black">Descripción:</span>
          </p>
          <hr />
          <p class="text-small">
            Las herraduras de hierro están fabricadas con la más alta calidad
            Mustad, proporcionando grandes ventajas en el trabajo diario del
            herrador.
          </p>
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <span class="title-font-black">Precio total:</span>
          </p>
          <hr />
          <p>$ 29.990 CLP</p>
        </div>
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>
            <span class="title-font-black">Tipo de pago:</span>
          </p>
          <hr />
          <p>VISA *******3457</p>
          <p class="margin-top-reveived">Recibido</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
