{% extends "base/base.html" %}
<!-- contenido -->

{% block header %} {% endblock header %}

<!--- -->

{% block content %} {% endblock content %}

<!--- -->
{% block footer %}

<div class="footer1">
  <h3><i class="material-icons">pets</i> Nuestra sucursal está en providencia <i class="material-icons">pets</i></h3>  
  <p>
    Desde el Lunes 28 de Septiembre estarémos en Los Leones #220. Nos cambiamos
    de casa, a unos pasos de la actual tienda Pio X ¡Todos son bienvenidos!
  </p>
</div>
<div class="footer2">
  <div class="footer-left">
    <p class="p-hover-footer">Ponte en contacto con nosostros</p>
    <p class="p-hover-footer">¿Quienes somos?</p>
    <p class="p-hover-footer">Ayuda y asistencia</p>
    <p class="p-hover-footer">Condiciones</p>
    <p class="p-hover-footer">Política de privacidad</p>
  </div>

  <div class="footer-center">
    <p class="p-hover-footer">Política de cookies</p>
    <p class="p-hover-footer">Productos destacados</p>
    <p class="p-hover-footer">Preguntas frecuentes</p>    
  </div>

  <div class="footer-right">
      <div class="input-field select-language-footer">        
    <select>            
      <option selected>Español</option>
      <option value="1">Inglés</option>
      <option value="2">Francés</option>
      <option value="3">Alemán</option>
    </select>
    <label class="label-footer"><i class="material-icons left">language</i>Seleccionar idioma</label>
  </div>
  </div>

</div>

<!-- -->
{% endblock footer %}
</div>
