{% extends 'base/base.html' %} {% block header %}{% endblock %}

<!-- contenido -->

{% block content%}

<div class="row">
  <div class="card card-login">
    <div class="card-title title-login col s12">Iniciar sesión</div>
    <div class="card-content">
      <form method="POST">
        {% csrf_token %}
        <div class="input-field col s12">
          <label for="username">Nombre de usuario</label>
          <input name="username" type="text" class="validate" />
        </div>
        <div class="input-field col s12">
          <label for="password">Contraseña</label>
          <input name="password" type="password" class="validate" />
        </div>
        <div class="col s12 buttons-login">
          <a href="{% url 'password_reset' %}">Olvidé mi contraseña</a>
          <button class="btn-small blue darken-3" type="submit">
            Ingresar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
