{% extends 'base/base.html' %}
<!---->
{% block navbar%}
<!---->
{% endblock %}
<!---->
{% block content %}
<!---->

<div class="card card-login">
  <div class="card-title">Recuperar contraseña</div>
  <div class="card-content">
    <form method="post">
      {% csrf_token %}
      <label for="id_email">Correo:</label> {{ form.email }}
      <br />
      <br />
      <br />
      <input class="btn blue darken-3" type="submit" value="Enviar" />
    </form>
  </div>
</div>

<!---->
{% endblock %}
